<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.readonly">
      <readonly
            class="com.nextlabs.policystudio.readonly.devicecontrol.DeviceControlPolicyDetailsComposite"
            context="DEVICE_CONTROL_POLICY">
      </readonly>
   </extension>

</plugin>
