<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.readonly">
      <readonly
            class="com.nextlabs.policystudio.readonly.DynamicAccessControl.DynamicAccessControlPolicyDetailsComposite"
            context="DYNAMIC_ACCESS_CONTROL_POLICY">
      </readonly>
   </extension>

</plugin>
