<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.pdf">
      <pdf
            class="com.nextlabs.policystudio.pdf.document.DocumentPolicyPdfGenerator"
            context="DOCUMENT_POLICY">
      </pdf>
   </extension>

</plugin>
