<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.editor">
      <editor
            context="DOCUMENT_POLICY"
            displayName="Document Policy"
            icon=""
            editorClass="com.nextlabs.policystudio.editor.document.DocumentPolicyEditor"
            panelClass="com.bluejungle.destiny.policymanager.editor.PolicyEditorPanel"
            type="POLICY"
            default="true">
      </editor>
   </extension>
   <extension
         point="com.nextlabs.policystudio.creation">
      <creation
            class="com.nextlabs.policystudio.editor.document.PolicyCreation"
            context="DOCUMENT_POLICY">
      </creation>
   </extension>
</plugin>
