<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.preview">
      <preview
            class="com.nextlabs.policystudio.preview.host.DesktopPreviewPanel"
            context="HOST">
      </preview>
   </extension>

</plugin>
