<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.editor">
      <editor
            context="APPLICATION"
            displayName="Application Component"
            editorClass="com.nextlabs.policystudio.editor.application.ApplicationComponentEditor"
            icon="icons/applicationComponent.gif"
            panelClass="com.bluejungle.destiny.policymanager.editor.ComponentEditorPanel"
            type="COMPONENT">
      </editor>
   </extension>
   <extension
         point="com.nextlabs.policystudio.tab">
      <tab
            class="com.nextlabs.policystudio.editor.application.ApplicationListPanel"
            folder="Subjects"
            name="Applications">
      </tab>
   </extension>
</plugin>
