<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nextlabs.policystudio.pdf">
      <pdf
            class="com.bluejungle.destiny.policymanager.editor.ComponentPdfGenerator"
            context="APPLICATION">
      </pdf>
   </extension>

</plugin>
